<div class="w-2/5 rounded-lg text-xs bg-gray-100 p-1 gap-x-2">
    <button class="inline-block shadow-sm p-1 bg-white rounded-md" role="tab">
        <a class="font-bold" href="{{url_for('routes.admin_users')}}">All Users</a>
    </button>
    <button class="inline-block ml-4 p-1 text-gray-500 rounded-md" role="tab">
        <a class="font-bold" href="{{url_for('routes.admin_roles')}}">Roles</a>
    </button>
    <button class="inline-block ml-4 p-1 text-gray-500 rounded-md" role="tab">Permissions</button>
</div>