{% extends "shared/layout.html" %}

{% block content %}
<div class="container my-4">
  <div class="flex justify-content-between align-objects-center mb-3">
    <h1 class="text-4xl">Roles</h1>
    {# Points to /roles?action=new #}
    <a href="{{ url_for('routes.crud', action='new', resource='roles') }}" class="ml-2 btn btn-primary">
      + Add New Role
    </a>
  </div>

  {% if objects %}
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for object in objects %}
          <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td class="flex gap-2">
               <a href="{{ url_for('routes.crud', id=object.id, resource='roles') }}" class="btn btn-sm btn-info">
    View
  </a>
              <a href="{{ url_for('routes.crud', id=object.id, action='edit', resource='roles') }}" class="btn btn-sm btn-outline-secondary">
                Edit
              </a>

              <form action="{{ url_for('routes.crud', id=object.id, resource='roles') }}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure?');">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-sm btn-outline-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No roles found.</p>
  {% endif %}
</div>
{% endblock %}