{% extends "shared/layout.html" %}

{% block content %}
<div class="container my-4">
  <div class="flex justify-content-between align-objects-center mb-3">
    <h1 class="text-4xl">Roles</h1>
    {# Points to /roles?action=new #}
    <a href="{{ url_for('routes.crud', action='new', resource='roles') }}" class="ml-2 btn btn-primary">
      + Add New Role
    </a>
  </div>

  {% if objects %}

  {% for object in objects %}
  <p>
    {{object.name}}
  </p>
  <div class="flex gap-x-4">
    <a href="{{ url_for('routes.crud', id=object.id, resource='roles') }}" class="btn btn-sm btn-info">
      View
    </a>
    <a href="{{ url_for('routes.crud', id=object.id, action='edit', resource='roles') }}"
      class="btn btn-sm btn-outline-secondary">
      Edit
    </a>

    <form action="{{ url_for('routes.crud', id=object.id, resource='roles') }}" method="POST" class="d-inline"
      onsubmit="return confirm('Are you sure?');">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-sm btn-outline-danger">
        Delete
      </button>
    </form>
  </div>
  <hr class="my-4" />
  {% endfor %}

  {% else %}
  <p>No roles found.</p>
  {% endif %}
</div>
{% endblock %}