{% extends 'shared/layout.html'%}

{% block content %}

<div id="music" class="col-span-5 empty rounded-lg border border-gray-300 shadow-md">
    <div class="hidden text-xs py-2 px-4 w-full border-b" placeholder="Enter your name">
        <ul class="flex justify-start gap-4 flex-wrap items-center">
            <li>
                <a class="font-bold">Admin</a>
            </li>
            <li>
                <a>File</a>
            </li>
            <li>
                <a>Edit</a>
            </li>
            <li>
                <a>View</a>
            </li>
            <li>
                <a>Account</a>
            </li>
        </ul>
    </div>


    <div class="flex justify-start gap-x-6 p-8">
        <aside id="sidenav" class="w-1/5">

            <div class="grid gap-y-4">
                {%set navbaritems = ['users','items'] %}
                {%for item in navbaritems%}
                <div
                    class="{{ 'bg-gray-100' if active_tab==item else '' }} p-2 rounded-md flex justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-inbox" viewBox="0 0 16 16">
                        <path
                            d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4zm9.954 5H10.45a2.5 2.5 0 0 1-4.9 0H1.066l.32 2.562a.5.5 0 0 0 .497.438h12.234a.5.5 0 0 0 .496-.438zM3.809 3.563A1.5 1.5 0 0 1 4.981 3h6.038a1.5 1.5 0 0 1 1.172.563l3.7 4.625a.5.5 0 0 1 .105.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374z">
                        </path>
                    </svg>
                    <div class="ml-3 col-span-10">
                        <a class="text-xs capitalize" href="{{ url_for('routes.admin_' + item) }}"
                            hx-get="{{ url_for('routes.admin_' + item) }}" hx-target="#main-content" hx-push-url="true">
                            {{ item }}
                        </a>
                    </div>
                    <div class="ml-auto text-xs">
                        <p>128</p>
                    </div>
                </div>
                {%endfor%}
                <hr>
                <div>
                    <button class="text-center text-xs border border-gray-300 px-4 py-2 rounded-lg w-full">Save
                        Preferences</button>
                </div>
            </div>
        </aside>
        <div id="table" class="w-3/5">

            <main id="main-content">
                {% if active_tab == 'items' %}
                {% include 'partials/_items_table.html' %}
                {% elif active_tab == 'roles' %}
                {% include 'partials/_roles_table.html' %}
                {% else %}
                {% include 'partials/_users_table.html' %}
                {% endif %}
            </main>

        </div>

        <aside id="sidenav" class="w-1/5">

            <div id="user-box" class="p-4 rounded-lg border border-gray-200">

                <p class="text-xs font-light font-semibold">Create User</p>
                <p class="mt-1 text-gray-500" style="font-size: .70rem">Manage your cookie settings here.</p>

                <div class="mt-4 grid gap-y-4">
                    {% set names= ['email','first_name','last_name','password','profile_img','phone','address']%}

                    {%for name in names%}
                    <div>
                        <p class="text-xs capitalize">{{name | labelize}}</p>
                        <p class="text-gray-500" style="font-size: .60rem">Descriptive text about this specific field
                        </p>
                        <input name="{{name}}" id="{{name}}"
                            class="mt-2 text-xs border border-gray-300 px-4 py-2 rounded-lg w-full"
                            placeholder="Enter your name">
                    </div>
                    {%endfor%}

                    {%for i in range(3)%}
                    <div class="flex justify-between items-center">
                        <div class="col-span-10">
                            <p class="text-xs"></p>
                            <p class="text-gray-500" style="font-size: .60rem">These cookies are essentil in order to
                                use the website and
                                it's features</p>
                        </div>
                        <div class="ml-4">
                            <button type="button" role="switch" aria-checked="true" data-state="checked" value="on"
                                class="peer inline-flex h-5 w-9 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background disabled:cursor-not-allowed bg-black disabled:opacity-50 data-[state=checked]:bg-primary data-[state=unchecked]:bg-input"
                                id="necessary" aria-label="Necessary"><span data-state="checked"
                                    class="pointer-events-none block h-4 w-4 rounded-full bg-white shadow-lg ring-0 transition-transform data-[state=checked]:translate-x-4 data-[state=unchecked]:translate-x-0"></span></button>
                        </div>
                    </div>
                    {%endfor%}

                    <div>
                        <button
                            class="text-center text-xs border border-gray-300 px-4 py-2 rounded-lg w-full">Create</button>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>


{% endblock%}