{% extends "shared/layout.html" %}

{% block content %}
<div class="container my-4">
  <div class="flex justify-content-between align-items-center mb-3">
    <h1 class="text-4xl">Items</h1>
    {# Points to /items?action=new #}
    <a href="{{ url_for('routes.crud', action='new', resource='items') }}" class="ml-2 btn btn-primary">
      + Add New Item
    </a>
  </div>

  {% if objects %}
  {% for item in objects %}

  <div>
    <p>{{item.name}}</p>
    <p> {{item.description}}</p>
  </div>
  <div class="flex gap-x-4">
    <a href="{{ url_for('routes.crud', id=item.id, action='show', resource='items') }}" class="btn btn-sm btn-info">
      View
    </a>
    <a href="{{ url_for('routes.crud', id=item.id, action='edit', resource='items') }}"
      class="btn btn-sm btn-outline-secondary">
      Edit
    </a>

    <form action="{{ url_for('routes.crud', id=item.id, resource='items',action='delete') }}" method="POST"
      class="d-inline" onsubmit="return confirm('Are you sure?');">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-sm btn-outline-danger">
        Delete
      </button>
    </form>
  </div>
  <hr class="my-4" />

  {% endfor %}

  {% else %}
  <p>No items found.</p>
  {% endif %}
</div>
{% endblock %}