{% extends "shared/layout.html" %}


{% block content %}

<h1 class="text-4xl">Show Items</h1>

<div class="container my-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-objects-center">
      <a href="{{ url_for('routes.resource_route', action='show', resource='items') }}"
        class="btn btn-outline-secondary">
        &larr; Back to Items
      </a>
      <h2 class="mt-4">Item Details #{{ object.id }}</h2>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ object.name }}</h3>

      {% if object.description %}
      <p class="card-text">{{ object.description }}</p>
      {% endif %}

      <p class="text-muted">
        Created: {{ object.created_at.strftime('%Y-%m-%d %H:%M') if object.created_at else 'N/A' }}
      </p>
    </div>

    {%for user in object.users%}
    {{user.first_name}}
    {%endfor%}

    <div class="card-footer flex gap-2">
      {# Link to Edit mode via ?action=edit #}
      <a href="{{ url_for('routes.resource_route', id=object.id, action='edit', resource='items') }}"
        class="btn btn-warning">
        Edit
      </a>

      {# Delete Form #}
      <form action="{{ url_for('routes.resource_route', id=object.id, resource='items', action='delete') }}"
        method="POST" onsubmit="return confirm('Delete this object?');">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}