{%extends 'shared/layout.html'%}

{%block content%}

  <h1 class="text-4xl">Edit User &lt{{user.first_name}} {{user.last_name}}&gt</h1>


<form class="mt-4" action="{{url_for('routes.edit_user', user_id=user.id)}}" method="POST">

  <img class="w-32 h-32 object-cover" alt="User avatar" src="{{user.profile_img}}" />

  <div class="mt-2 grid grid-cols-4 gap-4">

{% set names= ['email','profile_img','first_name','last_name','phone','address','password']%}
{% for name in names %}
<div>
    <label for="name" class="uppercase">{{name}}</label>
    <input type="text" name="name" value="{{user[name]}}" id="name" placeholder="http://" />
</div>
{% endfor %}

  <input
    type="submit" placeholder="Update" />
  </div>

</form>

{%endblock%}