{%extends 'shared/layout.html'%}

{%block content%}

<h1 class="text-4xl">Users</h1>

{% for user in objects %}

<div>
    <p>Name:  {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
</div>

<div class="my-4">
<a href="{{url_for('routes.crud', id=user.id, action='show', resource='users')}}">See</a>

<a href="{{url_for('routes.crud', id=user.id, action='edit', resource='users')}}">Edit</a>

<a href="{{url_for('routes.crud', action='new', resource='users')}}">New</a>
</div>
<hr class="my-4"/>
{% endfor %}

{%endblock%}