{%extends 'shared/layout.html'%}

{%block content%}

<form action="{{url_for('routes.resource_route', resource='users', action='create')}}" method="POST">

    <h1 class="text-4xl">New User</h1>

  <img alt="User avatar"
    src="https://avatars3.githubusercontent.com/u/72724639?s=400&u=964a4803693899ad66a9229db55953a3dbaad5c6&v=4" />

    {% set names= ['email','profile_img','first_name','last_name','phone','address','password']%}
<div class="grid grid-cols-4 gap-4">
{% for name in names %}
<div>
    <label for="{{name}}" class="uppercase">{{name}}</label>
    <input type="text" name="{{name}}" id="{{name}}" placeholder="{{name}}" />
</div>
{% endfor %}

  <input type="submit" placeholder="submit" />
</div>

</form>

{%endblock%}