{%extends 'shared/layout.html'%}

{%block content%}


<h1 class="text-3xl">{{object.first_name}} {{object.last_name}}</h1>
<img class="w-32 h-32 object-cover" src="{{object.profile_img}}" alt="">

{{object.profile_img}}

<h1 class="text-2xl">Other objects</h1>

{% for u in similar_objects %}

<div>

    <img class="w-32 h-32 object-cover" src="{{u.profile_img}}" alt="">

    <a href="{{url_for('routes.show_object', id=u.id)}}">{{u.first_name}}</a>

</div>

{%endfor%}

{{object.first_name}}

{{object.last_name}}

<a href="tel:{{object.phone | phone}}">{{object.phone | phone}}</a>

{{object.address}}

<a href="mailto:{{object.email}}">{{object.email}}</a>

<h2>
    <p>Bio</p>
    {{object.info.address}}
</h2>

<hr>
<h2 class="text-2xl">User Items</h2>
{%for item in object.items%}
    {{item.name}}<br />
    {{item.numeral_name}},
    {{item.numeral}},
    {{item.description}}
{%endfor%}

<br />
<a class="bg-black text-white px-2 py-1"
    href="{{ url_for('routes.resource_route', id=object.id, resource='users', action='delete') }}">Delete</a>

{%endblock%}